parameters:
    level: 9
    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - tests/phpstan-locate-phpunit-autoloader.php

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon
